<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
             Option:      AdornerCommitMessageVisibility
             Description: Sets the attached commit message visibility to Visible/Hidden/Hidden in Expanded.
             Options:     Visible / Hidden / ExpandedHidden
             Default:     "ExpandedHidden" (On)
        -->
    <add key="AdornerCommitMessageVisibility" value="ExpandedHidden"/>

    <!--
             Option:      DescriptionInExpander
             Description: Adds description in Expanded view.
             Default:     "False" (Off)
        -->
    <add key="DescriptionInExpander" value="False"/>

    <!--
             Option:      SHALength
             Description: SHA Length used in commit titles
             Default:     "8" (Short)
        -->
    <add key="SHALength" value="8"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
