<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GraphSharp" version="1.1.0.0" targetFramework="net40-Client" />
  <package id="LibGit2Sharp" version="0.24.0" targetFramework="net462" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.185" targetFramework="net462" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net40-Client" />
  <package id="Rx_Experimental-Main" version="1.1.11111" requireReinstallation="true" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net40-Client" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net40-Client" />
  <package id="WPFExtensions" version="1.0.0" targetFramework="net40-Client" />
</packages>