<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TrueSetting" value="True" />
    <add key="ToBeRemovedSetting" value="nan" />
    <!--
             Option:      AdornerCommitMessageVisibility
             Description: Sets the attached commit message visibility to Visible/Hidden/Hidden in Expanded.
             Options:     Visible / Hidden / ExpandedHidden
             Default:     "ExpandedHidden" (On)
        -->
    <add key="AdornerCommitMessageVisibility" value="ExpandedHidden" />

    <!--
             Option:      DescriptionInExpander
             Description: Adds description in Expanded view.
             Default:     "False" (Off)
        -->
    <add key="DescriptionInExpander" value="False" />

    <!--
             Option:      SHALength
             Description: SHA Length used in commit titles
             Default:     "8" (Short)
        -->
    <add key="SHALength" value="8" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
